<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/recommended-project/web/core/tests/PHPStan/tests" />
        <option value="$PROJECT_DIR$/web/core/tests/PHPStan/tests" />
        <option value="$PROJECT_DIR$/core/tests/PHPStan/tests" />
        <option value="$PROJECT_DIR$/drupal11/web/core/tests/PHPStan/tests" />
      </list>
    </option>
  </component>
</project>